* {
  --txt-color: #fca77f;
  --bg-color: #160000;
  --btn-bg-color: #d94004;
  --sidebar-width: 35vw;
  --main-max-width: 700px;
}

body {
  display: flex;
  align-items: center;
  margin: 0px; /* remove scrollbar */
  background: var(--bg-color);
}

#img-sidebar {
  background-image: url(./Img/marfurt-antilope-canyon.avif);
  background-position: center center;
  /* position: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: max(400px, var(--sidebar-width));
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 125px;
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.4);
}

.logo > * {
  margin: 10px;
}

.logo img {
  width: 100px;
  height: 100px;
}

.icon-text {
  font-family: 'Rock 3D', cursive;
  color: white;
  font-size: 3.5em;
}

#main,
span {
  font-family: 'Montserrat', sans-serif;
  color: var(--txt-color);
}

#main {
  width: min(700px, 90vw - var(--sidebar-width));
  margin-left: 30px;
}

span {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

a {
  text-decoration: none;
  color: white;
}

label {
  font-size: 0.8em;
}

button {
  padding: 10px 35px;
  color: #fcbeb9;
  border-color: var(--btn-bg-color);
  border-radius: 5px;
  background-color: var(--bg-color); 
}

button:hover {
  color: white;
  background-color: var(--btn-bg-color);
}

input {
  background-color: var(--bg-color);
  border-color: #6b3333;
  border-radius: 5px;
  color: white;
  /* width: 300px; */
  width: clamp(150px, 20vw, 250px);
}

input:focus {
  outline: none;
  border-color: var(--btn-bg-color);
}

fieldset {
  display: flex;
  align-content: center;
  width: min(var(--main-max-width), 100vw - var(--sidebar-width));
  flex-wrap: wrap;
  border: none;
}

legend {
  display: none;
}

fieldset > div {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
